.carosel-cont {
	border-top-left-radius: 67px;
	border-top-right-radius: 67px;
	background-color: #604aea;
	height: 40%;
}

.heading-cont {
	h1 {
		font-weight: bold;
		color: #5a5a5a;
	}
}

.p-ui {
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
}

.m-ui {
	top: 60%;
	left: 28%;
	transform: translate(-50%, -50%);
}
